* {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: '맑은고딕';
}

/* footer */
#footer_footer {
	width: 1200px;
	height: 370px;
	background-color: #2E2E2E;
	color: rgb(221, 220, 220);
	font-family: 'NanumGothic';
	position: absolute;

	bottom: 0px;
}

#footer_ft01 {
	width: 24%;
height: 200px;	font-size: 14px;
	float: left;	
	border-right: 1px solid rgb(202, 202, 202);	
	padding-top:20px;
	padding-left: 20px;
	}



#footer_no {
	height: 30px;
	font-weight: 5px;
	font-size: 18px;
	
}

.footer_time {
	width: 300px;
	height: 30px;
	
	
	font-size: 12px;
	font-weight: 3px;
}

#footer_ft02 {
	font-size: 12px;
	width: 20%;
height: 200px;	float: left;
	padding-top:20px;
	padding-left: 20px;
}



#footer_ft02 p {
	height: 20px;
	
}

#footer_ft03 {
	font-size: 12px;
	width: 23%;
height: 200px;	float: left;
	border-left: 1px solid rgb(202, 202, 202);
	border-right: 1px solid rgb(202, 202, 202);
	padding-top:20px;
	padding-left: 20px;
}



#footer_ft03 p {
	height: 20px;
}

#footer_ft04 {
	font-size: 12px;
	width: 25%;
	height: 200px;
	float: left;
	padding-top:20px;
	padding-left: 20px;
	
}



#footer_ft04>p {
	height: 20px;
}

#footer_ft05 {
	height: auto;
	/* border: 3px solid red; */
	font-size: 13px;
	float: left;
	color: rgb(173, 172, 172);
	margin-top:20px;
	margin-left:20px;
}

#footer_ft05 pre {
	
	width: 800px;
	
}
#footer_fotterMenu{
	width:1200px;
}
.footer_title{
	margin-bottom: 20px;
	width:70%;	
	height:auto;
	font-size:17px;
	font-weight: 900;
	
	
}