* {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: '맑은고딕';
}

.orderDiv {
	padding: 50px;
	width: 1000px;
	height: auto;
	margin-left: 60px;
}

.title {
	width: 100%;
	height: auto;
	font-size: 20px;
	font-weight: bold;
}

table {
	width: 100%;
	height: auto;
}

td:first-child {
	width: 15%;
	text-align: center;
}

td {
	padding: 3px;
	border-bottom: 1px solid purple;
	height: 30px;
}

#orderer_name {
	width: 20%;
}

.search_address {
	width: 100px;
	height: auto;
}

.addressInput {
	margin: 3px;
	height: 30px;
}

.orderer_info {
	height: 200px;
}

.delivery_Info {
	height: 400px;
}

.product_info {
	width: 100%;
	height: 250px;
}

.product_table td {
	width: auto;
	height: auto;
	text-align: center;
}

.payment_info {
	height: 250px;
	width: 70%;
	float: left;
	margin-top: 70px;
}

.payment_table {
	height: auto;
}

.select_payment {
	width: 13px;
	height: 13px;
}

.last_Payment {
	border:solid 2px;
	margin-left: 20px;
	width: 25%;
	height: 200px;
	float: left;
	margin-top: 70px;
}

h2 {
	text-align: center;
}

.wraper {
	min-height: 2000px;
	width: 1200px;
	position: relative;
	margin: auto;
	padding: 0, 10px, 0px, 10px;
}

.payment {
	border: 0;
	background-color: white;
	height: 50px;
}
.last_Payment{
	height:50px;
	position:relative;
	top:110px;	
}
.last_Payment > button{
	border:0;
	background-color: black;
	cursor: pointer; 
	font-size: 20px; 
	font-weight:bold;
	color: white;
}
.last_Payment > button:hover{
	background-color: red;
	color: white;
}
form{
	width:1000px;
	height:500px;
}
